body {
    font-family: Arial, sans-serif;
    background: url('contact.jpeg'); 
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: url('contact.jpeg'); 
    box-shadow: 0 2px 5px rgba(151, 27, 27, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}
.link{
    color:rgb(255, 255, 255);
    text-decoration: underline;
}
#contact {
    margin-top: 20px;
    background: #a3ff87;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

.contact-details {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

